@model ListaLibriViewModel;


@{
    ViewData["Title"] = "Libri";
}

<div class="container">
	<div class="row">
		<h2>I Nostri Libri:</h2>
	</div>
	<div class="row">
		<a asp-controller="Libro" asp-action="Add" class="btn btn-success col-2 ms-auto">Aggiungi un libro +</a>
	</div>
	<div class="row mt-2">

		@if (Model.Libri != null && Model.Libri.Any())
		{
			@foreach (var item in Model.Libri){
				<div class="col-6 col-md-4 col-lg-3 mb-3">
				<div class="card p-0 h-100">
					<img src="@item.Copertina" class="card-img-top" style="height:20em" alt="Immagine copertina">
					<div class="card-body ">
						<h5 class="card-title">@item.Titolo</h5>
						<p class="card-text">@item.Autore</p>
							<p class="card-text">Genere: @item.Genere.Name</p>
						<p class="card-text">Disponibilita' : @(item.Disponibilita ? "Si" : "No")</p>
						<a asp-controller="Libro" asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a>
					</div>
				</div>
				</div>
			}
		}
		else
		{
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Error 404</strong><br /> Siamo spiacenti non ci sono libri nella nostra sezione!
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}

	</div>

</div>



